font-family = "MonoLisa Variable"
{{ if eq .chezmoi.os "darwin" }}
font-size = 14
{{ else if eq .chezmoi.os "linux" }}
font-size = 11
{{ end }}
theme = Vercel

shell-integration-features = cursor,sudo,title,ssh-env,ssh-terminfo

background-opacity = 1
background-blur = false

